header
  position: absolute
  top: 0
  left: 0
  padding: 0 100px
  background: #262626
  width: 100%

  .logo
    color: white
    height: 50px
    line-height: 50px
    font-size: 2.4rem
    float: left
    font-weight: bold

  .fa-shopping-cart
    color: white
    float: left
    font-size: 20px
    margin: 0 10px
    position: relative
    top: 18px
    transition: 0.3s
    &:hover
      color: #4CAF50

@media (max-width: 991px)
  header
    padding: 0 20px
