// .container--products


.product
  &--faq
    width: 80%
  &--controls
    display: block
    padding-bottom: 30px
    width: 80%
    &-filter
      margin: 0 10px
      float: right
  &--list
    // display: flex
    // flex-wrap: wrap
    justify-content: space-between
    width: 80%
  &--card
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    margin: 0 20px 20px 0
    padding: 2px 16px
    transition: 0.3s
    &:hover
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)




