<div class="menu--subitem">
  <a href="#" class="menu--item-subcategory"
    *ngIf="node.sublevels?.length > 0 ; else lastItem ">{{node.name}}
  </a>

  <ng-template #lastItem>
    <a href="#" class="menu--item-last">{{node.name}}</a>
  </ng-template>

  <!-- Node de recursión para el menú -->
  <ul *ngIf="node.sublevels?.length">
    <li *ngFor="let sublevel of node.sublevels">
      <a href="#">
        <app-menu-subitem [node]="sublevel"></app-menu-subitem>
      </a>
    </li>
  </ul>
</div>
