<div class="menu--subitem">
  <div
    class="menu--item-subcategory"
    *ngIf="node.sublevels?.length > 0 ; else lastItem"
    (click)="onItemSelected(node.id)">{{node.name}}
  </div>

  <ng-template #lastItem>
    <div
      class="menu--item-last"
      (click)="onItemSelected(node.id)">{{node.name}}</div>
  </ng-template>

  <!-- Node de recursión para el menú -->
  <ul *ngIf="node.sublevels?.length">
    <li *ngFor="let sublevel of node.sublevels">
      <div href="#">
        <app-menu-subitem [node]="sublevel"></app-menu-subitem>
      </div>
    </li>
  </ul>
</div>
